<form class="color-picker-form">
    {% for option in product.options_with_values %}
      {% if option.name contains 'Color' or option.name contains 'Colour' %}
    	{% comment %}if product has color type, loop through each color type and add to list, only display 'new' colors{% endcomment %}
    	{% assign index = forloop.index0 %}
    	{% assign color = '' %}
    	{% assign colorlist = '' %}		
        {% for variant in product.variants %}
    		{% capture color %}
    			{{ variant.options[index] }}
    		{% endcapture %}
    		{% unless colorlist contains color %}
              {% if variant.image.src == undefined %}
              	{% assign ImgUrl = product.featured_image %}
              {% else %}
              	{% assign ImgUrl = variant.image.src %}	
              {% endif %}
  				{% assign opacity = "opacity: 1;" %}
  				{% unless variant.available %}
  					{% assign opacity = "opacity: 0.6;" %}
  				{% endunless %}
                <div class="color-variant">
                  <input type="radio" style="display:none;" id={{variant.id}} onClick=handleColorClick({{variant.id}}) name="color" data-variant={{variant.id}} data-productInfo={{product.id}} data-productImgUrl={{ImgUrl}} data-variantAvailable={{variant.available}}>
                  <label id="{{product.title}}-color-{{color}}" for={{variant.id}} style="background: {{color}};  {{opacity}}"></label>
                </div>
    			{% capture templist %}
    				{{colorlist | append: color}}
    			{% endcapture %}
    			{% assign colorlist = templist %}
    		{% endunless %}
          {% endfor %}
      {% endif %}
    {% endfor %}
  </form>
<span style="color:red;" id="caption-availability-{{product.id}}"></span>